/* .modal-dialog {
    max-width: 900px;
} */

/* .modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
} */

/* .modal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
} */
