.modal-dialog {
    max-width: 600px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-fieldset > legend {
    font-size: 18px;
    font-weight: light;
    font-style: oblique;
    padding-bottom: 10px;
}

.modal-text-container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;

}
.modal-date-container {
    display: flex;
    padding: 8px;
}

/* --- Button Style --- */

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-cancel {
    background-color: #f3f4f6;
    color: #4b5563;
}

.btn-cancel:hover {
    background-color: #e5e7eb;
}

.btn-submit {
    background-color: #3b82f6;
    color: white;
}

.btn-submit:hover {
    background-color: #2563eb;
}

/* --- Textarea Style --- */
.textarea-footer > .textarea-error-message {
    font-size: 12px;
}