.modal-dialog {
    max-width: 600px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-text-container {
    display: flex;
}
.modal-date-container {
    display: flex;
    gap: 10px;
    padding: 8px;
}


/* --- Button Style --- */

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-cancel {
    background-color: #f3f4f6;
    color: #4b5563;
}

.btn-cancel:hover {
    background-color: #e5e7eb;
}

.btn-submit {
    background-color: #3b82f6;
    color: white;
}

.btn-submit:hover {
    background-color: #2563eb;
}